/* Estilos generales */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    padding: 10px;
    color: #ffffff;
}

.profile {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-right: 0 auto;
}

input {
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.form__container {
    display: flex;
    align-items: center;
    width: 80%;
    border-radius: 5px;
    padding: 60px 25px 60px 25px;
    margin-left: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 0 auto;
}

.form__group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.form__label {
    font-size: 16px;
    width: 10%;
    margin-right: 20px;
}

.form__input {
    width: 30%;
    display: inline;
    border: 2px solid #1DB954;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
}

.form__division {
    margin-bottom: 50px;
}

.form__input::placeholder {
    color: #000000;
}

.form__button-group {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.form__input-button {
    width: 35%;
    background-color: #1DB954;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.form__input-button:hover {
    background-color: rgba(29, 185, 84, 0.8)
}
.form__input-savebutton {
    width: 35%;
    background-color: #1DB954;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.form__input-savebutton:hover {
    background-color: rgba(29, 185, 84, 0.8)
}

.form__linkProfile {
    color: #1DB954;
    text-decoration: underline;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0px;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form__linkProfile:hover {
    color: #ffffff;
    text-decoration: none;
}
.form__linkpremium {
    color: #1DB954;
    text-decoration: underline;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0px;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form__linkpremium:hover {
    color: #ffffff;
    text-decoration: none;
}

.footer {
    margin-top: 5px;
}
.dialogSave{
    
    position: relative;
    background-color: #000000;
    margin-left: 40%;
    top: 60%;
    width: 15%;
    height: 10%;
    border:1px solid #1DB954;
    border-radius: 3px;
    text-align: center;
}


.textSaveChanges{
   
   
    margin-left: 2px ;
    color: white;

}
.dialogSaveBtn{
    background-color: #000000;
    margin: 10px;
    border: 2px solid #1DB954;
    border-radius: 3px;
    padding: 7px;
    color: #ffffff;
    width: 30%;
}
.closeButton{
    background-color: #000000;
    margin: 10px;
    border: 2px solid #1DB954;
    border-radius: 3px;
    padding: 7px;
    color: #ffffff;
    width: 30%;
}

.dialogSaveBtn:hover{
    background-color: rgba(29, 185, 84, 0.8)

}
.closeButton:hover{
    background-color: rgba(29, 185, 84, 0.8)
}
@media only screen and (max-width: 1440px) {
.dialogSave{
width: 20%;
top: 55%;
}

}

@media only screen and (max-width: 1024px){
    .dialogSave{
        width: 25%;
        height: 12%;
        top: 60%;
    }
    
} 
@media only screen and (max-width: 777px) {
    .footer {
        display: none;
    }

    .form__group {
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }

    .form__label {
        width: 100%;
        margin: 0;
        padding: 2px;
    }

    .form__input {
        margin-bottom: 10px;
        width: 100%;
    }

    .form__input-button {
        text-wrap: nowrap;
    }
    .dialogSave{
        width: 32%;
        height: 12%;
        top: 85%;
    }


}

@media only screen and (max-width: 621px) {
    .profile__info {
        display: block;
    }
}

@media only screen and (max-width: 499px) {
    .form__button-group {
        gap: 10px;
    }
    
    .form__input-button {
        width: 100%;
    }

    .form__division {
        margin-bottom: 10px;
    }

    .form__link {
        padding: 5%;
        margin-bottom: 10px;
    }
    .dialogSave{
        
        width: 55%;
        height: 12%;
        top: 76%;
    }
}
@media only screen and (max-width: 320px) {
    .dialogSave{
        
        width: 40%;
        height: 12%;
        top: 76%;
    }
    .textSaveChanges{
        font-size: smaller;
    }
    .dialogSaveBtn{
       font-size: smaller;
    }
    .closeButton{
        font-size: smaller;
    }

}