<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/premium.css" />
        <!-- Fuente -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <title>Premium</title>
    </head>
    <body>
        <header>
            <div>
                <h1 class="header__title">Planes Premium</h1>
            </div>
            <div class="profile">
                <div class="profile__info">
                    <h3 class="profile__title" id="profile-title">
                        Nombre de usuario
                    </h3>
                    <a
                        href="../index.html"
                        class="profile__link-session"
                        id="profile-link-session"
                        >Cerrar sesión</a
                    >
                </div>
                <a class="profile__link" href="profile.html">
                    <img
                        src="../img/Avatar.png"
                        alt="Avatar"
                        class="profile__image"
                    />
                </a>
            </div>
        </header>
        <main class="premium-main">
            <div class="error__message" id="error-msg">Debe elegir un plan para continuar!</div>

            <form action="#" method="get" class="premium-cards-container" id="submit-form">
                <article class="premium-card">
                    <h2 class="premium-card-title" id="plan-premium">
                        Plan mensual
                    </h2>
                    <ul class="premium-card-itemList">
                        <li class="premium-card-itemList__item">
                            Música sin anuncios
                        </li>
                        <li class="premium-card-itemList__item">
                            Escuchá tus canciones en cualquier lugar, incluso
                            sin conexión
                        </li>
                        <li class="premium-card-itemList__item">
                            Reproducción on-demand
                        </li>
                        <li class="premium-card-itemList__item">
                            Prepagá o suscribite
                        </li>
                    </ul>
                    <div>
                        <img
                            class="premium-card-img"
                            src="../img/star-filled.png"
                            alt="star"
                            width="20px"
                        />
                        <img
                            class="premium-card-img"
                            src="../img/star-filled.png"
                            alt="star"
                            width="20px"
                        />
                    </div>
                    <h3 class="premium-card-price">$ 4.99 / Mes</h3>
                    <input
                        type="radio"
                        name="option"
                        class="premium-card-radio-button"
                        id="plan-mensual"
                    />
                </article>
                <article class="premium-card premium-card__anual">
                    <div class="premium-card-heading-container">
                        <h2 class="premium-card-title" id="plan-premium">
                            Plan anual
                        </h2>
                        <span class="premium-card-span">El más elegido</span>
                    </div>
                    <ul class="premium-card-itemList">
                        <li class="premium-card-itemList__item">
                            Todos los beneficios del Plan mensual
                        </li>
                        <li class="premium-card-itemList__item">
                            Descuento especial
                        </li>
                        <li class="premium-card-itemList__item">
                            Primer mes gratuito
                        </li>
                    </ul>
                    <div class="premium-card-img-container">
                        <img
                            class="premium-card-img"
                            src="../img/star-filled.png"
                            alt="star"
                            width="20px"
                        />
                        <img
                            class="premium-card-img"
                            src="../img/star-filled.png"
                            alt="star"
                            width="20px"
                        />
                        <img
                            class="premium-card-img"
                            src="../img/star-filled.png"
                            alt="star"
                            width="20px"
                        />
                        <img
                            class="premium-card-img"
                            src="../img/star-filled.png"
                            alt="star"
                            width="20px"
                        />
                        <img
                            class="premium-card-img"
                            src="../img/star-filled.png"
                            alt="star"
                            width="20px"
                        />
                    </div>
                    <h3 class="premium-card-price">$ 44.99 / Mes</h3>
                    <span class="premium-card-discount">25% de Descuento</span>
                    <input
                        type="radio"
                        name="option"
                        class="premium-card-radio-button"
                        id="plan-anual"
                    />
                </article>
                <article class="premium-card">
                    <h2 class="premium-card-title" id="plan-premium">
                        Plan infinito
                    </h2>
                    <ul class="premium-card-itemList">
                        <li class="premium-card-itemList__item">
                            Experiencia Spotilam ilimitada
                        </li>
                        <li class="premium-card-itemList__item">
                            Pago único y acceso de por vida
                        </li>
                        <li class="premium-card-itemList__item">
                            Música sin anuncios
                        </li>
                    </ul>
                    <article class="premium-card-img-container__infinito">
                        <img
                            class="premium-card-img"
                            src="../img/star-filled.png"
                            alt="star"
                            width="20px"
                        />
                        <img
                            class="premium-card-img"
                            src="../img/star-filled.png"
                            alt="star"
                            width="20px"
                        />
                        <img
                            class="premium-card-img"
                            src="../img/star-filled.png"
                            alt="star"
                            width="20px"
                        />
                    </article>
                    <h3 class="premium-card-price">$ 2999.99 / Mes</h3>
                    <input
                        type="radio"
                        name="option"
                        class="premium-card-radio-button"
                        id="plan-infinito"
                    />
                </article>
                <section class="premium-card-button-container">
                    <article>
                        <a href="index.html">
                            <button
                                class="premium-card-button premium-card-button__cancelar"
                                type="button"
                            >
                                ← CANCELAR
                            </button>
                        </a>
                    </article>
                    <article>
                        <button
                            class="premium-card-button premium-card-button__avanzar"
                            id="next-button"
                            type="subtmit"
                        >
                            AVANZAR →
                        </button>
                    </article>
                </section>
            </form>
        </main>
        <footer class="footer">
            <p>
                Octavio Sancho | 39.510.073 - Tobias Rodriguez | 44.513.673 -
                Angel Leyes| 42.199.664
            </p>
            <p>
                Ezequiel Lage | 38.175.930 - Agustin Dangelo | 44.263.625 - Juan
                Ignacio Ronquillo | 44.482.636
            </p>
        </footer>

        <script src="../js/premium.js"></script>
    </body>
</html>
