<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Practico - Grupo 9</title>
        <!-- Estilos CSS -->
        <link rel="stylesheet" href="../css/index.css">
        <link rel="stylesheet" href="../css/buscar.css">
        <!-- Logo para barra de búsqueda -->
        <!-- Fuente -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <div class="search__section">
                <input type="search" name="Search" id="search" placeholder="Search" class="search__input">
                <img src="../img/lupa.png" class="search__image">
            </div>
            <div class="profile">
                <div class="profile__info">
                    <h3 class="profile__title">Nombre de usuario</h3>
                    <a href="../index.html" class="profile__link-session">Cerrar sesión</a>
                </div>
                <a class="profile__link" href="profile.html">
                    <img src="../img/Avatar.png" alt="Avatar" class="profile__image">
                </a>
            </div>
        </header>
        
        <main>
            <section class="songs__section" id="songs_section">
                <article class="songs__article" id="songs_article">
                    <a href="playing.html" class="songs__link">
                        <img class="songs__image" src="../img/canserbero_cancion_1.jpg" id="canserbero" data-alt="canserbero" name="canserbero">
                    </a>
                </article>
                <article class="songs__article">
                    <a href="playing.html" class="songs__link">
                        <img class="songs__image" src="../img/salando_las_heridas_cancion_2.jpg" id="salandolasheridas" data-alt="salandolasheridas" name="salandolasheridas" > 
                    </a>
                </article>
                <article class="songs__article">
                    <a href="playing.html" class="songs__link">
                        <img class="songs__image" src="../img/ciro_cancion_3.jpg" id="ciro" data-alt="ciro">
                    </a>
                </article>
                <article class="songs__article">
                    <a href="playing.html" class="songs__link">
                        <img class="songs__image" src="../img/wos_cancion_4.jpg" id="wos" data-alt="wos">
                    </a>
                </article>
                <article class="songs__article">
                    <a href="playing.html" class="songs__link">
                        <img class="songs__image" src="../img/tupac_album_5.jpg" id="tupac" data-alt="tupac">
                    </a>
                </article>
                <article class="songs__article">
                    <a href="playing.html" class="songs__link">
                        <img class="songs__image" src="../img/Idontwanttomissathing_cancion_6.jpg" id="idontwanttomissathing" data-alt="idontwanttomissathing">
                    </a>
                </article>
                <article class="songs__article">
                    <a href="playing.html" class="songs__link">
                        <img class="songs__image" src="../img/Cancion7.jpg" id="columbarecords" data-alt="columbarecords">
                    </a>
                </article>
                <article class="songs__article">
                    <a href="playing.html" class="songs__link">
                        <img class="songs__image" src="../img/Cancion8.jpg" id="kirby" data-alt="kirby">
                    </a>
                </article>
                <article class="songs__article">
                    <a href="playing.html" class="songs__link">
                        <img class="songs__image" src="../img/Cancion9.jpg" id="roadsong" data-alt="roadsong">
                    </a>
                </article>
                <article class="songs__article">
                    <a href="playing.html" class="songs__link">
                        <img class="songs__image" src="../img/Cancion10.webp" id="abba" data-alt="abba">
                    </a>
                </article>
                <article class="songs__article">
                    <a href="playing.html" class="songs__link">
                        <img class="songs__image" src="../img/Cancion12.webp" id="random" data-alt="random">
                    </a>
                </article>
                <article class="songs__article">
                    <a href="playing.html" class="songs__link">
                        <img class="songs__image" src="../img/Cancion13.webp" id="disc" data-alt="disc">
                    </a>
                </article>
                <article class="songs__article">
                    <a href="playing.html" class="songs__link">
                        <img class="songs__image" src="../img/Cancion14.webp" id="piromania" data-alt="piromania">
                    </a>
                </article>
                <article class="songs__article">
                    <a href="playing.html" class="songs__link">
                        <img class="songs__image" src="../img/Cancion15.webp" id="harrystyles" data-alt="harrystyles">
                    </a>
                </article>
                <article class="songs__article">
                    <a href="playing.html" class="songs__link">
                        <img class="songs__image" src="../img/Cancion16.jpg" id="somosmagic" data-alt="somosmagic">
                    </a>
                </article>
                    
            </section>
        </main>
        <section class="audio__section">
            <article class="audio__article">
                <audio
                    controls="audio" 
                    id="audio" 
                    preload="auto" 
                    tabindex="auto" 
                    type="audio/mpeg"
                    muted="auto"
                    class="audio" 
                    >
                </audio>
            </article>
        </section>
    </div>
    
    <div class="column__container">
        <nav>
            <ul class="menu">
                <li>
                    <a href="home.html">Home</a>
                </li>
    
                <li class="active">
                    <a href="search.html">Buscar</a>
                </li>
    
                <li>
                    <a href="albums.html">Mis albums</a>
                </li>
    
                <li>
                    <a href="favourites.html">Mis Favoritas</a>
                </li>
            </ul>
        </nav>
    
        <aside>
            <section class="song__section">
                <article class="song__article">
                    <img src="../img/Cancion12.webp" alt="Canción sonando" class="song__image">
                    <p class="song__description">
                        <b>
                            Random Access Memories es el cuarto y último álbum de estudio del dúo francés Daft Punk. Se publicó en Australia, Reino Unido y Estados Unidos, bajo licencia de Daft Life
                        </b>
                    </p>
                    <img src="../img/estrella.png" class="songs__star">
                </article>
            </section>
        </aside>
    </div>

    
    <footer>
        <p>
            Octavio Sancho | 39.510.073 - Tobias Rodriguez | 44.513.673 - Angel Leyes| 42.199.664
        </p>
        <p>
            Ezequiel Lage | 38.175.930 - Agustin Dangelo | 44.263.625 - Juan Ignacio Ronquillo | 44.482.636
        </p>
    </footer>  
    <script src="../js/search.js"></script>
</body>
</html>