<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Practico - Grupo 9</title>
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../css/form.css">
    <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
   
</head>
<body>
    <div class="form__container">
        <form class="form" action="../index.html" method="get">
            <label for="username" class="form__label">Usuario</label>
            <input 
                type="text" 
                placeholder="Usuario" 
                id="username" 
                class="form__input"
                required
            > .
            <label for="password" class="form__label">Contraseña</label>
            <input 
                type="password" 
                placeholder="Contraseña"
                id="password"
                class="form__input"
                required
            >
            <label for="password-repeat" class="form__label">Repetir contraseña</label>
            <input 
                type="password" 
                placeholder="Contraseña"
                id="password-repeat"
                class="form__input"
                required
            >
            <label for="email" class="form__label">Email</label>
            <input 
                type="email" 
                placeholder="Email"
                id="email"
                class="form__input"
                required
            >
            <label for="birth-date" class="form__label">Fecha de nacimiento</label>
            <input 
                type="date" 
                id="birth-date"
                class="form__input"
                required
            >
            <a href="premium.html" class="form__link premium">Premium</a>
            <button type="submit" class="form__input-button">Registrarme</button>
            <div class="form__sign-in">
                <p>¿Ya tienes una cuenta?</p>
                <a href="../index.html" class="form__link">Inicia sesión</a>
            </div>
        </form>
    </div>
    <dialog id="errorDialogPasswordNotMatch" class="dialogSignUp">
        <p class="dialogTextPasswordNotMatch">Las contraseñas no coinciden.</p>
        <button class="buttonDialog" onclick="cerrarDialogoErrorIncorrect()">Cerrar</button>
    </dialog>

    <dialog id="successDialog" class="dialogSignUp">
        <p class="dialogTextSuccess">¡Registro exitoso! Puede iniciar sesión ahora.</p>
        <button class="buttonDialog" onclick="cerrarDialogoSuccess()">Cerrar</button>
    </dialog>
    <script src="../js/signup.js"></script>
</body>
</html>